# Virtual Environments
venv/
env/
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Models and Large Files
models/*.pt
models/*.pkl
models/*.zip
models/*.gguf

# IDEs
.vscode/
.idea/
.DS_Store
